<h3>Pending friend invitations: </h3> <br>

<% users.each do |user|%>
  <div class="user-friend show-requests">
    <%= link_to user.name, user_path(user.id)%>
  </div>
  <span class = 'profile-link'><%= link_to 'Accept', accept_path(:friends_id => user.id), method: :put%></span>
  <span class = 'profile-link'><%= link_to 'Reject', reject_path(:friends_id => user.id), method: :delete%></span>
<% end %>